@media only screen and (min-width: 768px) {
  .left {
    position: sticky;
    top: 70px;
    height: 100%;
  }
}

@media only screen and (max-width: 768px) {
    .left {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        margin: 10px 15px;
    }
  }
.left {
  padding: 10px;
}
